@CHARSET "ISO-8859-1";

/*
.level_1 .last #link_1_1_2{
	background-color: red;
}

#category_3 > #categories_3_1 li{
	background-color: red;
}

.level_1, .level_3{
	background-color: red;
}

li.last #link_1_1_1{
	background-color: red;
}

ul.level_2 li + li a{
	background-color: red;
}

ul.level_2 li.last{
	background-color: red;
}

ul li ul ul li a{
	background-color: red;
}

li ul li ul li {color: red; font-size: 20px;}
li.level_3 {color: green;}
li {color: red; background-color: gray;}
li ul li {color:#335511; background-color: yellow;}
*/

a { color: Red; font-weight: bold; }
ul.level_1 ul.level_2 a { color: Black; font-weight: normal; }
ul.level_1 li.level_3 a { color: Yellow; font-size: 12px;}
ul.level_1 li ul li ul li a { color: Green; font-size: 15px; }